In [16]:
# Final cleanup of map assets for airbnb app. lets hope we use em somehow. 

import pandas as pd
import numpy as np

df = pd.read_csv('C:/Users/slups/Documents/GitHub/train.csv')

# can change this to easily add or subtract features
df = df[['city', 'latitude', 'longitude', 'log_price', 'room_type', 'property_type', 'review_scores_rating']]
df = df.sort_values(by=['city', 'review_scores_rating'], ascending=[True, False])
cities = df['city'].unique()
df_map = pd.DataFrame()
for city in cities:
  df_city = df[df["city"]==city]
  df_city = df_city.iloc[:5000, :] # change this number for more or less per city
  df_map = df_map.append(df_city)
print(df_map)

         city   latitude   longitude  log_price        room_type  \
60     Boston  42.336007  -71.052918   4.828314  Entire home/apt
150    Boston  42.332122  -71.112803   4.007333     Private room
194    Boston  42.382883  -71.067843   5.164786  Entire home/apt
224    Boston  42.351527  -71.060004   5.963579  Entire home/apt
269    Boston  42.333470  -71.109118   4.382027     Private room
...       ...        ...         ...        ...              ...
53517      SF  37.774374 -122.464404   4.343805     Private room
61463      SF  37.749632 -122.420082   5.010635  Entire home/apt
72230      SF  37.734620 -122.388062   3.688879     Private room
73007      SF  37.771075 -122.444411   4.653960     Private room
42808      SF  37.783856 -122.462749   4.077537     Private room

      property_type  review_scores_rating
60        Apartment                 100.0
150       Apartment                 100.0
194     Condominium                 100.0
224       Apartment                 100.0
269       Apartment                 100.0
...             ...                   ...
53517     Apartment                  70.0
61463     Apartment                  70.0
72230         House                  70.0
73007     Apartment                  70.0
42808         House                  69.0

[27187 rows x 7 columns]

In [13]:
df_map.head()

,city,latitude,longitude,log_price,room_type,property_type,review_scores_rating
60,Boston,42.336007,-71.052918,4.828314,Entire home/apt,Apartment,100.0
150,Boston,42.332122,-71.112803,4.007333,Private room,Apartment,100.0
194,Boston,42.382883,-71.067843,5.164786,Entire home/apt,Condominium,100.0
224,Boston,42.351527,-71.060004,5.963579,Entire home/apt,Apartment,100.0
269,Boston,42.333470,-71.109118,4.382027,Private room,Apartment,100.0

In [17]:
df_map.shape

(27187, 7)

In [18]:
df_map.to_csv('final_maps_27000.csv')